*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(45, 41, 41);
}



/* css for login page */
@keyframes login_animation {
    0%{
        opacity: 0;
        transform:translateX(10rem);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes login_animation1{
    0%{
        opacity: 0;
        transform:translateX(-10rem);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}




.login_maincontainer{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(251, 248, 248);
}

.website_info{   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height:80vh;
    background-image:linear-gradient(to left, rgb(30,212,252), rgb(117,78,231));
    color: rgb(249, 249, 249);
    border-radius: 12px ;
    width:45vw;
    position: absolute;
    top:10vh;
    left:12.5vw ;
    animation-name: login_animation;
    animation-duration: 1s;
    animation-delay: 0s;
}
.website_info h1{
    font-size: 50px;
}
.website_info p{
    font-size: large;
    margin-top: 20px;
    width:30vw;
}

.login_data{
    background-color: white;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 70vh;
    top: 15vh;
    left: 55vw;
    border-radius: 20px;
    box-shadow:  0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: login_animation1;
    animation-duration: 1s;
    animation-delay: 0s;
}
.login_data h2{
    margin-bottom: 20px;
    font-size: 35px;
    /* color: rgb(0, 132, 255); */
    color: rgb(33, 28, 28);
    border-bottom: 2px solid black;
}
.login_data form{
    margin-top: 20px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column  ;
    justify-content:space-around ;

}

.login_data form input{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 10px;
    position: relative;
    padding: 0px 15px;
    transform: all 0.3s ease;
    font-size: large;
}

.login_data form label{
    position: absolute;
    /* top: -100px; */
    left: 150px;
    background-color: white;
    z-index: 100;
    width:fit-content;
    color: black; 
    transform: translateY(-0.25rem);
    transition: all 0.3s ease;
}
.login_data form input:focus ~label{
    color: rgb(41, 96, 207);
}
.login_data form input:focus{
    padding: 0px 15px;
    font-size: large;
    border: 2px solid rgb(41, 96, 207)  ;
    outline: none;
    /* border: none; */
}
.login_data form input::placeholder{
    font-size: large;
}

.login_submit{
    padding: 10px 20px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    font-size: large;
    background-color: white;
    border-radius: 20px;
    transition: 0.3s all ease;
}

.login_submit:hover{
    border: 2px solid rgb(41, 96, 207);
    background-color: rgb(41, 96, 207);
    color: white;
    font-size: large;
    padding: 10px 20px;
}

.login_account{
    padding: 0px 10px;
    transform: translateY(0.25rem);
    color: rgb(41, 137, 221);
    text-decoration: none;
    border: none;
    border-bottom: 2px solid rgb(41, 137, 221);
    background-color: white;
    font-size: large;
    transform: 0.5s all ease-in-out ;
}
.login_account:hover{
    color: black;
    border-bottom: 2px solid rgb(28, 26, 26);
}
.change_position{
    border-radius: 20px;
    background-color: white;
    /* padding: 10px; */
    display: flex;
    align-items: center;
}   
.singup_member button{
    font-size: large;
    /* margin: 0px 20px; */
    padding: 10px 20px;
    text-decoration: none;
    border: 0;
    border-radius: 20px;
    color: white;  
    /* background-color: transparent;  */
    background-image:linear-gradient(to left, rgb(30,212,252), rgb(117,78,231));
    transition: all 0.3s ease-in-out;

}
.singup_admin button{
    font-size: large;
    /* margin: 0px 20px; */
    padding: 10px 20px;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    border-radius: 20px;
    color: black;
    transition: all 0.3s ease-in-out;
}

/* signup css */
@keyframes signup_animation {
    0%{
        transform: translateX(10rem);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
} 
@keyframes signup_animation1 {
    0%{
        transform: translateX(-10rem);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}






.website_info1{   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height:80vh;
    background-image:linear-gradient(to left, rgb(30,212,252), rgb(117,78,231));
    color: rgb(249, 249, 249);
    border-radius: 12px ;
    width:45vw;
    position: absolute;
    top:10vh;
    left:45vw ;
    animation-name: signup_animation;
    animation-delay: 0s;
    animation-duration: 1s;
}
.website_info1 h1{
    font-size: 50px;
}
.website_info1 p{
    font-size: large;
    margin-top: 20px;
    width:30vw;
}
.signup_container{
    display: flex;
    background-color: rgb(251, 248, 248);
    height: 100vh;
    width: 100vw;
}
.new_account{
    position: absolute;
    top: 15vh;
    left: 12.5vw;
    height: 70vh;
    width: 35vw;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    box-shadow:  0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: signup_animation1;
    animation-duration: 1s;
    animation-delay: 0ms;
}

.new_account div form{
    height: 40vh;
}

.new_account div form input{
    width: 25vw;
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 10px;
    position: relative;
    padding: 0px 15px;
    transform: all 0.3s ease;
    font-size: large;
}

.new_account div form label{
    position: absolute;
    /* top: -100px; */
    left: 8vw;
    background-color: white;
    z-index: 100;
    width:fit-content;
    color: black; 
    transform: translateY(-0.25rem);
    transition: all 0.3s ease;
}
.new_account div form input:focus ~label{
    color: rgb(41, 96, 207);
}
.new_account div form input:focus{
    padding: 0px 15px;
    font-size: large;
    border: 2px solid rgb(41, 96, 207)  ;
    outline: none;
    /* border: none; */
}
.new_account div form input::placeholder{
    font-size: large;
}
.signup_heading{
    margin-bottom: 40px;
    font-size: 25px;
    padding: 0px 10px;
    /* border-bottom: 2px solid black; */
}
.signup_submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px
}
.signup_Create_account{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    color: black;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
.signup_Create_account:hover{
    /* padding: 10px 22px; */
    /* font-size: large; */
    background-color: rgb(41, 96, 207);
    border: 2px solid rgb(41, 96, 207);
    color: white;
}
.alreadyAccount{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}
.account{
    /* margin: 10px; */
    text-decoration: none;
    width: 200px;
    text-align: center;
    font-size: medium;
    background-color: white;
    color: black;
    border-bottom: 2px solid black;
    transition: all 0.3s ease-in-out    ;
}
.account:hover{
    /* background-color:rgb(41, 96, 207); */
    border-bottom: 2px solid rgb(41, 96, 207);
    /* font-size: large ; */
    color: rgb(41, 96, 207);
}





/* css for navbar */
@keyframes menuSliderAnimation {
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    50%{

        opacity: 0.5;
        /* transform: translateX(-5px); */
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}



.navbar_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    top: 0  ;
    width: 100vw;
    background-color:rgb(0, 49, 123);
    color: white;
    height: 70px;
    animation-name: menuSliderAnimation;
    animation-duration: 1s;
    animation-delay: 0ms;
}
.navbar_container div{
    display: flex;
    align-items: center;
}
.menu_container img{
    width: 50px;
    height: 50px;
}
.menu_container button{
    border: none;
    height: 50px;
    outline:none;
    margin-right: 20px;
    margin-left: 10px;
    text-align: center;
    background-color: transparent;
    transition: all 0.5s;
}


.heading_container h1{
    font-size: 40px;
}


.account_container img{
    width: 50px;
    border-radius: 20px;
}
.Profilephoto{
    width:60px;
    margin-left: 20px;
}
.menu_slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 70px;
    justify-content: space-between;
    height: 82vh;
    width:0vw;
    background-color: white;
    overflow: scroll;
    padding-top:20px;
    padding-bottom:40px ;
    transition: 0.5s ease;    
}
.menu_slider div{
    font-size: large;
}
.menu_slider div ul li{
    list-style: none;
    padding: 10px 0px;
    text-align: center;
    width: 15vw;
    height: 30px;
    transition: all 0.3s ease-in-out;
    font-size: large;
}
.menu_slider div ul li a{
    width: 15vw;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.menu_slider div ul li:hover{
    background-color: whitesmoke;
}
.cross_menu{
    display: none;
}
/* .groupNames{
    text-decoration: none;
    height: 40px;
    background-color: aqua;
    color: black;
} */


.Logout_btn{
    text-decoration: none;
    text-align: center;
}
.Logout_btn p{
    color: black;
    width: 10vw;
    padding: 5px 0px;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    height: 30px;
    background-color: rgb(66, 148, 235);
    border: 2px solid rgb(66, 148, 235);
    transition: all 0.3s ease-in;
}
.Logout_btn p:hover{
    background-color: whitesmoke;
    color: black;
    border: 2px solid black;
}

.group_creation{
    width: 150px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: fixed;
    display: none;
    top:70px;
    right: 30px;
    transition: 0.3s;
    border-radius: 12px;
    z-index: 10;
}
.group_creation button{
    height: 40px;
    width: 150px;
    padding: 5px 0px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 0px;
    font-size: large;
    color: rgb(43, 39, 39);
    border-radius: 12px;
    transition: 0.3s ease-in;
}
.group_creation button:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 12px;
    font-size: large;
}   




@keyframes menuSliderAnimation1 {
    0%{
        opacity: 0;
        transform:translateX(-100px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}


.homepage_groupContainer{
    margin-top: 100px;
    margin-left: 30px;
    transition: all 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;

    animation-name: menuSliderAnimation1;
    animation-duration: 0.5s;
    animation-delay: 0ms;
}

.GroupContainer{
    height:30vh;
    background-color:white;
    width: 15vw;
    margin: 0.5vw;
    border-radius: 12px;
    box-shadow:  0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    color: black;
    text-decoration: none;
}
.GroupContainer div img{
    height: 18vh;
    width: 15vw;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.GroupContainer div h2{
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
}
.GroupContainer div p{
    margin-left: 20px;
}
.GroupContainer:hover{
    transform:scale(1.04);
}





/* css for account page  */
@keyframes AccountPage_animation {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.Account_maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 40vw;
    height:50vh;
    margin-top: 25vh;
    margin-left: 30vw;
    position: relative;
    border-radius: 20px;
}
.close_accountpage{
    position: absolute;
    top: 10px;
    right: 15px;
}
.Account_container{
    width: 40vw;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.AccountDetails{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
}
.AccountDetails div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}
.AccountDetails div div h2{
    text-align: center;
    font-size: 30px;
}
.AccountDetails div div p{
    font-size: larger;
    margin-left: 15px;
    font-weight: 600;
}
.AccountDetails div div ul{
    display: flex;
}
.Account_container div div ul li{
    list-style: none;
    margin: 10px;
    width: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
}
.Account_container div div ul li div p{
    border-bottom: 2px solid black;
    font-weight: 500;
}
.Account_container div div button{
    width: 10vw;
    height: 40px;
    font-size: larger;
    background-color:rgb(41, 96, 207);
    border: 2px solid rgb(41, 96, 207);
    color: white;
    border-radius: 12px;
    transition: all 0.3s;
}
.AccountDetails div button:hover{
    background-color: white;
    color: black;
    border-radius: 12px;
    border: 2px solid black;
}
.AccountLogout{
    display: flex; 
    flex-direction: column;
    align-items: center;  
}
.AccountLogout button{
    width: 40vw;
    border: 0px;
    margin: 10px 0px ;
    height: 40px;
    font-size: larger;
    color: rgb(247, 2, 59);
}



/* css for group chat */
.GroupChating_maincontainer{
    margin-top: 70px;
    padding: 20px;
    display: flex;
    /* align-items: center; */
    height: 85vh;
    transition: all 0.5s;
}
.GroupChating_info{
    margin-right: 10px;
    padding-bottom: 20px;
    padding: 10px;
    background-color: #34699A;
    overflow-y: scroll;
    color: black;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    /* justify-content: center; */
}
.GroupChating_info div img{
    width: 20vw;
    border-radius: 20px;
}
.Group_descripation{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.GroupChating_info div h1{
    text-align: center;
    font-size: 35px;
}
.GroupChating_info div button{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 15px 0px;
    padding: 10px;
    background-color: rgb(0, 153, 255);
    color: rgb(34, 32, 32);
    font-size: large;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 20px;
    transition: all 0.5s;
    margin-bottom: 10px;
}
.GroupChating_info div button:hover{
    border: 2px solid black;
    color: black;
    background-color: white;
}
.Group_memberDetails{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}
.Group_memberDetails div{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ListOfMember{
    font-size: large;
    font-weight: 600;
    margin-bottom: 10px;
}
.Group_memberDetails div ul li{
    width: 18vw;
    padding: 10px;
    border-radius: 20px;
    margin: 3px 0px;
    height: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    color: rgb(231, 217, 217);
    transition: all 0.5s;
}
.Group_memberDetails div ul li:hover{
    background-color: rgba(8, 193, 225, 0.753);
}



.GroupChat_container{
    width: 70vw;
    background-color: #34699A;
    color: black;
    border-radius: 20px;
    /* padding: 10px; */
    overflow: scroll;
}
.GroupChats ul{
    display: flex;
    flex-direction: column;
}
.GroupChats ul li{
    width: 40vw;
    list-style: none;
    background-color: aliceblue;
    margin: 5px;
    border-radius: 12px;
    padding: 5px;
}
.SendChats{
    position: sticky;
    bottom: 0px;
    padding-left: 5px; 
    padding: 5px;  
    left: -5px; 
    background-color: white;
    z-index: 10;
    margin-top: 20px;
    width:66vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.SendChats_option button{
    width: 40px;
    height: 40px;
    border: 2px solid;
    margin: 5px;
    background-color: white;
    border-radius: 20px;
}
.SendChats_area textarea{    
    resize: none;
    padding: 5px 10px;
    width: 50vw;
    border-radius: 20px;
    /* padding-left: 10px; */
    height: 40px;
    border: 2px solid black;
    font-size: large;
    max-height: 60px;
}
.SendChats_area input:focus{
    outline: none;
}
.SendChats_btn button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid white;
}




/* css for join group  */
.join_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 30vw;
    height:40vh;
    border-radius: 20px;
    background-color: white;
    display: none;
    top: 30vh;
    left:35vw;
    z-index: 1000;
    position: relative;
}
.join_closeicon{
    position: absolute;
    top: 10px;
    right: 15px;
}
.join_container div h1{
    font-size: 35px;
}
.join_container div input{
    width: 25vw;
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 10px;
    position: relative;
    padding: 0px 15px;
    transform: all 0.3s ease;
    font-size: large;
}
.join_container div label{
    position: absolute;
    /* top: -100px; */
    left: 4vw;
    background-color: white;
    z-index: 100;
    width:fit-content;
    color: black; 
    transform: translateY(-0.25rem);
    transition: all 0.3s ease;
}
.join_container div input:focus{
    outline: none;
    border:2px solid rgb(41, 96, 207);;
}
.join_container div input:focus ~label{
    color: rgb(41, 96, 207);
}
.join_container div button{
    padding: 10px;
    font-size: larger;
    background-color:rgb(41, 96, 207) ;
    border: 2px solid rgb(41, 96, 207);
    color: white;
    border-radius: 20px;
    transition: all 0.3s;
}
.join_container div button:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
}


.Create_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 30vw;
    height:40vh;
    border-radius: 20px;
    background-color: white;
    display: none;
    top: 30vh;
    left:35vw;
    z-index: 1000;
    position: relative;
}
.join_closeicon{
    position: absolute;
    top: 10px;
    right: 15px;
}
.Create_container div h1{
    font-size: 35px;
}
.Create_container div input{
    width: 25vw;
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 10px;
    position: relative;
    padding: 0px 15px;
    transform: all 0.3s ease;
    font-size: large;
}
.Create_container div label{
    position: absolute;
    /* top: -100px; */
    left: 4vw;
    background-color: white;
    z-index: 100;
    width:fit-content;
    color: black; 
    transform: translateY(-0.25rem);
    transition: all 0.3s ease;
}
.Create_container div input:focus{
    outline: none;
    border:2px solid rgb(41, 96, 207);;
}
.Create_container div input:focus ~label{
    color: rgb(41, 96, 207);
}
.Create_container div button{
    padding: 10px;
    font-size: larger;
    background-color:rgb(41, 96, 207) ;
    border: 2px solid rgb(41, 96, 207);
    color: white;
    border-radius: 20px;
    transition: all 0.3s;
}
.Create_container div button:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
}



/* editpage css  */
.Edit_container{
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    display: none;
    position: absolute;
    top:25vh;
    left: 30vw;
    border-radius: 20px;
}
.close_editcontainer{
    position: absolute;
    right: 15px;
    top: 10px;
}
.Edit_container div h1{
    font-size: 35px;
}
.Edit_container div div input{
    width: 25vw;
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 10px;
    position: relative;
    padding: 0px 15px;
    transform: all 0.3s ease;
    font-size: large;
}
.Edit_container div div label{
    position: absolute;
    /* top: -100px; */
    left: 9vw;
    background-color: white;
    z-index: 100;
    width:fit-content;
    color: black; 
    transform: translateY(-0.25rem);
    transition: all 0.3s ease;
}
.Edit_container div div input:focus{
    outline: none;
    border:2px solid rgb(41, 96, 207);
}
.Edit_container div div input:focus ~label{
    color: rgb(41, 96, 207);
}
.Edit_container div button{
    padding: 10px;
    font-size: large;
    background-color: rgb(41, 96, 207);
    border: 2px solid rgb(41, 96, 207);
    color: white;
    border-radius: 20px;
    transition: all 0.3s;
}
.Edit_container div button:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 20px;
}